*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-image: url("public/download.png"); */
    background-color: #232946;
    color: #fff;
}
.nav{
    width: 100%;
}
.side-bar{
    margin-top: 160px;
    height: 420px;
}

.center-bar{
    margin-top: 140px;
}
.cv button{
    width: 50%;
    height: 60px;
}
.cv{
    width: 400px;
}